table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid var(--dracula-selection);
}

th,
td {
  text-align: center;
}

th {
  padding: 1em;
}

td {
  padding: 0 1em;
  min-width: 5em;
  max-width: 15em;
}

.symbol {
  text-align: left;
}

.sign {
  float: left;
}

.value {
  float: right;
}
