div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  min-width: 30em;
  width: 30em;
  max-width: 30em;
  overflow-y: auto;
  border: 1px solid black;
}
