::ng-deep :root {
  margin: 0;
  padding: 0;

  --dracula-background: #282a36;
  --dracula-selection: #44475a;
  --dracula-foreground: #f8f8f2;
  --dracula-comment: #6272a4;
  --dracula-cyan: #8be9fd;
  --dracula-green: #50fa7b;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-purple: #bd93f9;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 30em 1fr; 
  grid-template-rows: 4em 1fr 1fr; 
  gap: 0px 0px; 

  background-color: var(--dracula-background);
  color: var(--dracula-foreground);
}

.toolbar {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  background-color: var(--dracula-selection);
  color: var(--dracula-foreground);
}

app-market {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  overflow-y: auto;
}

app-chart {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

app-feed {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  overflow-y: auto;
}
