::ng-deep * {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
}

.focus {
  display: flex;
  flex-direction: column;
}

.appbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: lightblue;
  color: black;
  box-shadow: 0 5px 5px 1px grey;
}

app-feed {
  height: 30vh;
  bottom: 0;
}
