div.root {
  border-bottom: 1px solid var(--dracula-selection);
  padding-left: 1em;
}

p.title {
  font-weight: bold;
}

div.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1em;
}

p.text {
  /* Only show the first line of content and hide the rest */
  max-height: 1.2em;
  overflow-y: hidden;
}

p.time {
  flex-grow: 1;
}
