div.root {
  border-bottom: 1px solid black;
  padding: 1em;
}

p.title {
  font-weight: bold;
}

div.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1em;
}

p.text {
  max-height: 1.2em;
  overflow-y: hidden;
}

p.time {
  flex-grow: 1;
}
